$white:#fff;
$blue:#3A84FF;
$grayWhite:#eee;
$gray:#666;

$bg-blue:#3A84FF;
$bg-green:#4FBDD9;
$bg-purple:#9090EB;
$bg-gray:#F4F4F4;

$text-color-important:#000;
$text-color-title:#333;
$text-color-text:#666;
$text-color-sub:#999;


$space-margin-left:30px;
$space-margin-top:40px;
$space-padding-top:30px;
